{% extends "base.html" %}
{% block title %}results | derpac designs.{% endblock %}

{% block body %}
	<h1>votes for derpac designs.</h1>

	<div>
		<canvas id="myChart"></canvas>
	</div>

	<style>
	</style>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		var votes = {}
		xhttp = new XMLHttpRequest()
		xhttp.onreadystatechange = function() {
			if(this.readyState == 4 && this.status == 200) {
				votes = JSON.parse(this.responseText)
				myChart.config.data.labels = Object.keys(votes)
				myChart.config.data.datasets[0].labels = Object.keys(votes)
				myChart.config.data.datasets[0].data = Object.values(votes)
				myChart.update()
				console.log(votes)
			}
		}
		config = {
			type: 'doughnut',
			data: {
				labels: Object.keys(votes),
				datasets: [
					{
						labels: Object.keys(votes),
						data: Object.values(votes),
						backgroundColor: [
							"#ab4642",
							"#dc9656",
							"#f7ca88",
							"#a1b56c",
							"#86c1b9",
							"#7cafc2",
							"#ba8baf",
							"#a16946"
						]

					}
				]
			},
			options: {}
		}

		var myChart = new Chart(
			document.getElementById('myChart'),
			config
		);
		function updateChart() {
			xhttp.open("GET", "/designs/votes?json", true)
			xhttp.send()
		}
		setInterval(updateChart, 1000)
		updateChart()
	</script>
{% endblock %}
